<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="log_everything" xsi:type="File" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Sunday" fileName="log_everything.txt" layout="[${longdate} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite:includeNamespace=false} ${message}" encoding="utf-8" />
    <target name="log_important" xsi:type="File" archiveNumbering="Date" maxArchiveFiles="3" archiveEvery="Sunday" fileName="log_important.txt" layout="[${longdate} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite:includeNamespace=false} ${message}" encoding="utf-8" />

    <target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${longdate} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite:includeNamespace=false} ${message}" encoding="utf-8">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
    </target>

    <target xsi:type="null" name="null" formatMessage="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />

    <logger name="*" minlevel="Trace" writeTo="log_everything" />
    <logger name="*" minlevel="Debug" writeTo="log_important" />
  </rules>
</nlog>