<?xml version="1.0" encoding="utf-8" ?>
<!-- This is an example logging config file that enables details logs for every part of the codebase. Logs are kept for 14 days. -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="log_everything" xsi:type="File" fileName="log_everything.txt" layout="[${longdate} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite:includeNamespace=false} ${message}" encoding="utf-8" />
    <target name="log_important" xsi:type="File" fileName="log_important.txt" layout="[${longdate} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite:includeNamespace=false} ${message}" encoding="utf-8" />
    <target name="logconsole" xsi:type="Console" layout="[${longdate} ${threadid}${mdlc:item=id}] ${level:uppercase=true}: ${callsite:includeNamespace=false} ${message}" encoding="utf-8" />
    <target xsi:type="null" name="null" formatMessage="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />

    <logger name="*" minlevel="Trace" writeTo="log_everything" />
    <logger name="*" minlevel="Debug" writeTo="log_important" />
  </rules>
</nlog>